* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen_limit{
    width: 100%;
    height: 600px;
    border-bottom: 30px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.clouds{
    margin-top: 20px;
    width: 550px;
    position: absolute;
    animation: clouds-animation 30s linear infinite;
}

.obstacle{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: obstacle-animation 2s linear infinite;
}

.character{
    position: absolute;
    bottom: 0;
    width: 150px;
}

.jump{
    animation: character-jump-animation 500ms ease-out;
}

@keyframes obstacle-animation{
    from{
       right: -85px;
    }
    to{
        right: 100%;
    }
}
    
@keyframes clouds-animation{
    from{
       right: -550px;
    }
    to{
        right: 100%;
    }
}
    
@keyframes character-jump-animation{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}